$background-color: #2d3748;

$black: #1a202c;
$white: #fafafa;

$light-gray: #a0aec0;
$gray: #718096;

$light-green: #68d391;
$green: #2f855a;
$dark-green: #276749;
$darker-green: #22543d;

$light-blue: #bee3f8;
$blue: #2c5282;
$dark-blue: #2c5282;
$darker-blue: #2a4365;

$light-red: #fc8181;
$red: #e53e3e;
$dark-red: #c53030;
$darker-red: #9b2c2c;
