@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=VT323&display=swap');
@import "../../colors.scss";

.input {
  padding: 0.6rem 1rem;
  font-family: 'Nova Mono', monospace;
  font-size: 1.2rem;
  color: $white;
  background-color: $black;
  border: 2px solid transparent;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  &.hasError {
    color: $red;
    border-color: $red;
  }

  &.success {
    border-color: $green;
  }
}

.hint {
  padding: 0.6rem 1rem;
  color: $white;
  background-color: $darker-red;
  border: none;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
