<main class="app">
  <section class="title">
    <h1>Pick a fight! 👊 </h1>
    <h3>
      Choose transformers to battle and see which team comes out the winner. Autobots or Decepticons.
      Give it a try! 🚚 🐲
    </h3>
  </section>
  <app-battle-hint-card></app-battle-hint-card>
  <section class="form">
    <app-battle-input (battleDataInput)="battleInput = $event"></app-battle-input>
    <button class="btn" (click)="startBattle()">Fight</button>
  </section>
  <section class="result">
  </section>
  <app-battle-result [result]="battleResult"></app-battle-result>
</main>
